PORT=3000
JWT_SECRET=supersecretpassword123
JWT_EXPIRES_IN=XXh
FRONTEND_URL=http://localhost:XXXX

# Configuración de Mail 
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_password_de_aplicacion
MAIL_FROM="WRIST Support" <tu_correo@gmail.com>

# Google OAuth
GOOGLE_CLIENT_ID=tu-client-id.apps.googleusercontent.com

# Database Configuration
DB_HOST=127.0.X.X
DB_USER=XXXX
DB_PASSWORD=tu_password_mysql
DB_NAME=DBXXXXXXXXXXX
DB_PORT=3XXX
