PORT=3000
JWT_SECRET=supersecretpassword123
JWT_EXPIRES_IN=24h
FRONTEND_URL=http://localhost:4200

# Configuración de Mail 
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_password_de_aplicacion
MAIL_FROM="WRIST Support" <tu_correo@gmail.com>

# Google OAuth
GOOGLE_CLIENT_ID=tu-client-id.apps.googleusercontent.com

# Database Configuration
DB_HOST=192.168.4.1
DB_USER=productapp
DB_PASSWORD=123456produlab
DB_NAME=DBProductAPP
DB_PORT=3306
